<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>TestVerse</title>
        <link rel="stylesheet" href="/css/pcverse.css">
    </head>
    <body>
        <div id="body">
            {% block mainContent %}
				<div id="header">
					<h1>Comong Soon™</h1>
				</div>
				<div id="content">
					<p>TestVerse is in development!</p>
				</div>
            {% endblock %}
        </div>
    </body>
</html>