 body {
    font-size: 14px;
    font-family: sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    color: #ddd;
    word-wrap: break-word;
    background: #112758 url('/img/bg.png');
    background-attachment: fixed;
}
#header {
    width: 35%;
    background: #223869;
    margin: 3% auto 0 auto;
    padding: 15px 10px;
    text-align: center;
}
#content {
    width: 35%;
    background: #223869;
    margin: 3% auto 0 auto;
    padding: 15px 10px;
    text-align: center;
}