<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>foxverse Setup Guide</title>
	<meta name="description" content="foxverse Setup Guide">
	<meta name="author" content="ninjafox">
	<link rel="stylesheet" href="/css/offdevice/style.css">
</head>
<body>
	<div class="content">
		<h1>foxverse Setup Guide</h1>
		<p>Select your Console:</p>
		<a href="/3ds_guide.html">3DS</a><br>
		<s>Wii U</s> (Not Available)
	</div>
</body>
</html>
