{% extends '@ctr/_master.twig' %}

{% block content %}
			<div id="welcome-start" class="guest-page">
				<div class="window-page">
					<div class="window welcome-window">
						<div class="window-title">
							<p>{{ config('general.name') }} is a gaming community that connects people from all over the world using Mii characters.
								Use {{ config('general.name') }} to share your gaming experiences and meet people from around the world.</p>
						</div>
						<div class="window-body">
							<div class="window-body-inner message">
								<p>You will need a Nintendo Network ID in order to create posts or create a profile. Select Link ID to link a new or existing ID.</p>
								<a href="#" class="black-button register">Link ID</a>
								<a href="#" class="more-button" data-sound="SE_CTR_COMMON_SYSAPPLET_END">Exit</a>
							</div>
						</div>
					</div>
				</div>
			</div>
{% endblock %}